html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button {
  background-color: #3882f6;
  color: white;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
}

/* header styling */
.header,
.footer {
  display: flex;
  background-color: #1f2937;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.footer p {
  color: #f9faf8;
}
.logo {
  color: #f9faf8;
  font-weight: bold;
  font-size: 24px;
  flex: 0 1 auto;
}
.links {
  display: flex;
  list-style-type: none;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
}

.links button {
  padding: 10px 24px;
  flex: 0 0 auto;
}
.links a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Hero Section  */

.hero {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2937;
  flex: 1 1 auto;
  justify-content: center;
  align-items: stretch;
  padding: 80px 16px;
  gap: 40px;
}

.hero img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 32px;
  width: 450px;
  flex: 0 1 auto;
}

.box {
  display: flex;
  width: 450px;
  flex-flow: wrap column;
  justify-content: center;
  flex: 0 1 auto;
}

.box h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.box p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 8px 0;
}

/* Features Section */

.features {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;

  text-align: center;
  gap: 40px;
  margin: 32px 16px;
}

.features h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.card {
  width: 200px;
}
.card img {
  height: auto;
  width: 100px;
}

/* Testimonial Section */

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 100px 0;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
blockquote {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  max-width: 700px;
  padding: 0 16px;
  flex: 1 1 auto;
}

figcaption {
  font-size: 18px;
  font-weight: bold;
}

/* call to action section */
.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.cta {
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: #3882f6;
  border-radius: 12px;
  padding: 40px 60px;
  flex: 1 1 auto;
  gap: 32px;
}

.cta-content h2 {
  color: #f9faf8;
}

.cta-content p {
  color: #e5e7eb;
}

.cta-btn {
  border: 2px solid white;
  padding: 8px 16px;
}
